{% extends 'blog/base.html' %}

{% load static %}

{% block encabezado_que_cambia %}
<header class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Patitas en accion</h1>
                        <span class="subheading">Un blog dedicado a nuestros mejores amigos</span>
                </div>
            </div>
        </div>
    </div>
</header>
{{ mensaje }}
{% endblock %}

{% block contenido_que_cambia %}
{% for post in posts %}
<a href="{% url 'inicio' %}">
    {{ post.titulo }}
    {{ post.contenido|truncatechars:50 }}
    <a class = "btn btn-sucess" href="{% url 'postDetalle' post.id %}">Leer mas</a>
    {{ post.fecha }} | {{ post.autor }}
</a>
{% endfor %}
{% endblock %}