{% extends 'blog/base.html' %}

{% load static %}


{% block contenido_que_cambia %}
    {% if posts %}
        <ul>
            {% for post in posts %}
                <a href="{% url 'postDetalle' post.id %}"><h4>{{ post.titulo }} | {{ post.autor }}</h4></a>
                <a class = "btn btn-sucess" href="{% url 'eliminarPost' post.id %}">ELIMINAR</a>
                <a class = "btn btn-sucess" href="{% url 'editarPost' post.id %}">EDITAR</a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No se encontraron articulos...</p>
    {% endif %}
{% endblock %}
