{% extends 'blog/base.html' %}
{% load static %}
{% block encabezado_que_cambia %}
{% if user.is_authenticated %}

    <body>
    <header class="header">
        <nav class="nav">
            
                <img height="75px" src="{{ avatar }}" class= "img nav-link" alt="" >
                <nav class="navbar navbar-light bg-light static-top">
                    <div class="container">
                    <a class = "btn btn-sucess" href="{% url 'sobreMi' %}">SOBRE MI</a>
                    <a class = "btn btn-sucess" href="{% url 'post' %}">PUBLICAR</a>
                    <a class = "btn btn-sucess" href="{% url 'leerPosts' %}">PUBLICACIONES</a>
                    <a class = "btn btn-sucess" href="{% url 'editarPerfil' %}">EDITAR PERFIL</a>
                   
                    </div>
                </nav>
           
        </nav>
    </header>
        <header class="masthead">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>BIENVENIDO A PATITAS A LA OBRA</h1>
                            <span class="subheading">Un blog dedicado a nuestros mejores amigos</span>
                            <a class = "btn btn-sucess" href="{% url 'inicio' %}">IR A INICIO</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
       
     
{% endif %}
{% if not user.is_authenticated %}

<header class="masthead">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>INICIO DE SESION</h1>
                </div>
            </div>
        </div>
    </div>
</header>
{% endif %}
{% endblock %}
{% block contenido_que_cambia %}
{% if not user.is_authenticated %}
<form action="{% url 'login' %}" method="POST"> {% csrf_token %}
    <table>
        {{ formulario.as_table }}

    </table>
    <button type="submit">Iniciar sesion</button>
</form>
{% endif %}

{% endblock %}

       
      
 
