{% extends 'blog/base.html' %}

{% load static %}

{% block menu_que_cambia %}
<div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ms-auto py-4 py-lg-0">
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="about.html">Acerca de</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="post.html">Articulos</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'post' %}">Redactar articulo</a></li>
        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="contact.html">Contactanos</a></li>
    </ul>
</div>
{% endblock %}


{% block contenido_que_cambia %}
<a href="{% url 'postDetalle' post.id %}">
<h1>{{ post.titulo }}</h1>
<p>{{ post.contenido }}</p>
{% if post.imagen %}
    <img height = '450px' src="{{ post.imagen.url }}">
{% endif %}

<h6>{{ post.fecha }} | {{ post.autor }}</h6>
</a>
{% endblock %}
